<div class="backdrop-blur-lg border-2 border-[rgba(255,255,255,.2)] shadow-xl rounded-2xl p-4 text-white flex flex-col h-full">
    <header class="flex flex-col text-sm bg-primary rounded-t-lg p-2 gap-[2px] hover:cursor-pointer">
        <span class="text-base font-bold" id="subject"> </span>
        <span class="font-semibold collapsable" id="sender"> </span>
        <span class="collapsable" id="to">To: </span>
        <span class="collapsable" id="cc">Cc: </span>
    </header>
    <iframe src="about:blank" class="flex-grow w-full bg-white rounded-b-lg p-5"></iframe>
</div>