<div class="backdrop-blur-lg shadow-lg border-2 border-[rgba(255,255,255,.2)] rounded-2xl p-4 w-full h-full max-h-14
    flex flex-row items-center justify-normal gap-1 text-[rgba(255,255,255,0.8)]">
    <div class="flex flex-row bg-black gap-[1px] rounded-lg">
        <button id="fetch" class="rounded-l-lg bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Fetch</span></button>
        <button id="compose" class="rounded-r-lg bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Compose</span></button>
    </div>

    <div class="flex-row bg-black gap-[1px] rounded-lg need-selected hidden">
        <button id="reply" class="rounded-l-lg bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Reply</span></button>
        <button id="reply-all" class="bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Reply All</span></button>
        <button id="forward" class="rounded-r-lg bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Forward</span></button>
    </div>

    <div class="flex-row bg-black gap-[1px] rounded-lg need-selected hidden">
        <button id="archive" class="rounded-l-lg bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Archive</span></button>
        <button id="delete" class="rounded-r-lg bg-primary hover:text-white px-3 h-full text-lg flex flex-col justify-center items-center min-w-16"><span>Delete</span></button>
    </div>
</div>